.container{
  display: flex;
  flex-direction: row;

  border-radius: 5px;
  width: 100vw;

}

.card{
  display: flex;
  flex-direction: column;
  margin: 1em auto ;
  border-style: solid;
  width: 300px;
  height: 300px;
  padding: 5px;
  box-shadow: 1em 1em gray;

}

.card__img img{
 text-align: center;
 border-radius: 0.5em;
 width: 280px;
 height: 120px;
 box-shadow: 5px 5px gray;
}

.card__title{
  padding: 0.5em;
  text-align: center;
  font-size: 16px;
  height: 30px;
}

.card__content{
  padding: 20px;
}

